<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <main>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="3" *ngFor=" let isi of gambarnya">
            <figure>
              <img src="https://perspektiv.id/musholla/gallery/{{ isi.nama }}">
            </figure>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div style="text-align: center">
      <h1>Belom Jadi</h1>
    </div>
  </main>

</ion-content>
