<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Musholla Al Mu'minin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  
  <main>
    <div>
      <ion-item [routerLink]="['/ratibhaddad']">
        <ion-label>Ratib Al Haddad</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/maulidsimtuddurror']">
        <ion-label>Maulid Simtuddurror</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/risalatuljamiah']">
        <ion-label>Risalatul Jami'ah</ion-label>
      </ion-item>
    </div>
  </main>

</ion-content>
