<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  
  <main>
    <!-- <h1 class="almuminin">Musholla Al Mu'minin</h1>
    <p style="font-size: 14px;">Jakarta, {{ waktusholat.tanggal }}</p>
    <div class="bg-pray" [routerLink]="['/jadwalsholat']">
      <div>
        <p class="title">Maghrib :</p>
        <p class="desctime">{{ waktusholat.maghrib }} WIB</p>
      </div>
      <div class="gotosholat">
        Imsak : {{ waktusholat.imsak }} WIB<br>
        Subuh : {{ waktusholat.subuh }} WIB<br>
      </div>
    </div> -->

    <div class="new-style-top">
      <h1 class="almuminin">Musholla Al Mu'minin</h1>
      <p class="lokasi">Jakarta, {{ waktusholat.tanggal }}</p>
      <div class="bg-pray" [routerLink]="['/jadwalsholat']">
        <!-- <div>
          <p class="title">Maghrib :</p>
          <p class="desctime">{{ waktusholat.maghrib }} WIB</p>
        </div>
        <div class="gotosholat">
          Imsak : {{ waktusholat.imsak }} WIB<br>
          Subuh : {{ waktusholat.subuh }} WIB<br>
        </div> -->
        <p class="waktusholatjakarta">waktu sholat wilayah jakarta</p>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div>Imsak<br> {{ waktusholat.imsak }}</div>
            </ion-col>
            <ion-col size="4">
              <div>Subuh<br> {{ waktusholat.subuh }}</div>
            </ion-col>
            <ion-col size="4">
              <div>Dzuhur<br> {{ waktusholat.dzuhur }}</div>
            </ion-col>
            <ion-col size="4">
              <div>Ashar<br> {{ waktusholat.ashar }}</div>
            </ion-col>
            <ion-col size="4">
              <div>Maghrib<br> {{ waktusholat.maghrib }}</div>
            </ion-col>
            <ion-col size="4">
              <div>'Isya<br> {{ waktusholat.isya }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="jadwal-imam ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <p class="jadwalimamtarawih">Jadwal Imam & Bilal Tarawih</p>
            <ion-label>{{ waktusholat.tanggal }} - {{ today.tanggalhijriah }}</ion-label>
            <ion-item lines="full">
              <ion-label>
                <p>Imam</p>
                <h1>Ust. {{ today.imam }}</h1>
              </ion-label>
              <ion-label>
                <p>Bilal</p>
                <h1>{{ today.bilal }}</h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="menu-item ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-text-center" [routerLink]="['/quran']">
            <div class="icon-kitab-abu">
              <img src="assets/quran.png">
            </div>
            <p>Al Qur'an</p>
          </ion-col>
          <!-- <ion-col size="3" class="ion-text-center">
            <div class="icon-kitab-abu">
              <img src="assets/quran.png">
            </div>
            <p>Al Qur'an</p>
          </ion-col> -->
          <ion-col size="3" class="ion-text-center" [routerLink]="['/ratib']">
            <div class="icon-kitab-hijau">
              <img src="assets/ratib.png">
            </div>
            <p>Ratib</p>
          </ion-col>
          <ion-col size="3" class="ion-text-center" [routerLink]="['/kitab']">
            <div class="icon-kitab-abu">
              <img src="assets/kitab.png">
            </div>
            <p>Kitab</p>
          </ion-col>
          <ion-col size="3" class="ion-text-center" [routerLink]="['/sholawat']">
            <div class="icon-kitab-hijau">
              <img src="assets/sholawat.png">
            </div>
            <p>Sholawat</p>
          </ion-col>
          <ion-col size="3" class="ion-text-center" [routerLink]="['/maulid']">
            <div class="icon-kitab-abu">
              <img src="assets/maulid.png">
            </div>
            <p>Maulid</p>
          </ion-col>
          <ion-col size="3" class="ion-text-center" [routerLink]="['/doa']">
            <div class="icon-kitab-hijau">
              <img src="assets/doa.png">
            </div>
            <p>Do'a</p>
          </ion-col>
          <ion-col size="3" class="ion-text-center" [routerLink]="['/jadwaltarawih']">
            <div class="icon-kitab-abu">
              <img src="assets/praying.png">
            </div>
            <p>Tarawih</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


  </main>

</ion-content>
