<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Jadwal Pengajian
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <main>
    <div class="kalender">
      <!-- <ion-datetime
      presentation="date"
      [multiple]="true"
      [highlightedDates]="highlightedDates"
      [value]="['2023-01-15', '2023-01-29','2023-02-05', '2023-02-19','2023-03-05', '2023-03-19', '2023-05-07', '2023-05-21', '2023-06-04', '2023-06-18', '2023-07-02', '2023-07-16', '2023-08-06', '2023-08-20', '2023-09-03', '2023-09-17', '2023-10-01', '2023-10-15', '2023-11-05', '2023-11-19', '2023-12-03', '2023-12-17']"
      ></ion-datetime> -->
      <ion-datetime
      presentation="date"
      [highlightedDates]="highlightedDates"
      ></ion-datetime>
    </div>

    <div class="keterangan">
      Lokasi Pengajian :
      <p>Musholla Al Mu'minin</p>
      Waktu
      <p>Ba'da 'Isya ( Sholat 'Isya Berjamaah )</p>
      Guru
      <p>Ustadz H. Abdul Rosyid Mujeni</p>
    </div>

  </main>

</ion-content>
