@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Open+Sans:wght@400;500;600;700&display=swap');

ion-icon {
    font-size: 22px;
    vertical-align: text-top;
}

.fullheight {
	height: 100vh;
	padding-bottom: 10px;
}

.textarab {
	font-size: 28px;
    text-align: right;
    font-family: 'Noto Sans Arabic', sans-serif;
}

p.colorgreen {
	color: #007614;
}

.mb-0 {
	margin-bottom: 0px;
}

p.endofitem {
	font-style: italic;
	color: #ccc;
}